/* common shared styles */
body{
    font-family: 'Lato',sans-serif; /* it is the style of font  */
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    /* it make a round shape on the border edge  */
    background:#FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700 ;/* it indicate the boldness of a font  */
    padding: 15px 35px;/* it indicates bordar distance form the text  */ 
}
nav{
    display: flex; /* if we do display flex it will come into one line. */
   justify-content: space-between;/* if navigation has space between two header we can use it  */
   align-items: center;/* for making a line symmetrical  */
   margin: 0 200px;
}

.nav-title{
     color: #181818;/*color for nav title */ 
     font-size: 45px;/* indicate the size of a font  */
     font-style: normal;/* it is the style of font  */
     font-weight: 800;/* it indicate the boldness of a font  */
}

nav > ul{
    /* nav>ul means nav immidiate ul  */
    display : flex;
    align-items: center;
}
nav li{
    list-style: none;
    /* it remove the dots from the navigation bar  */
    margin-right: 50px;
    /* it means margin in right side of every line  */
}
nav a{
    text-decoration: none;
    /* It will remove all the underline of the selected text  */
    color: #474747;
    border: 0 ;
}

/* header reltaed style  */

.header{
    background-color: #FFF8F3 ;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    /* for find url go to image section by using ../ then select image then find the file  */
    background-repeat: no-repeat;/* it use for stop background repeat  */
    background-position: bottom right, top left;
}
.bannar{
    padding:30px 30px 0px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;/* its means the maximum width for anything in a website  */
}
.bannar .profilepicture{
    height: 600px;/* for the hight of a picture */
    width: 500px ;
    /* for the width of a picture  */
}
.banner-greeting{
    font-size: 45px ;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: 700;
}
.banner-discription{
    margin-top: 0px;
    margin-bottom:20px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;/* it makes your text in center  */
    margin-top: 120px;
}

/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin-top: 130px;
}
.section-description{
    color: #757575;
    text-align:center;
    font-size:18px;
}
.section-title{
    color: #181818;
    text-align: center;
    /* we can align text using it we have 3 options in their front center and end  */
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
/* div class about info */
.about-info-container{
    display: flex;
    text-align: center;

}
.about-info{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;  
    /* margin: 0 auto;    */
    justify-content: space-around; /*    it works like margin 0 auto  */
}
.info-title{
    color: #757575;
    font-size: 20px;
    font-style:normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
#what-i-do-description{
    padding: 30px 150px ;
}
.skills-container{
    display: flex;
    margin: 40px;
}
.skill{
    gap:25px;/* it can make gap between multiple sections  */
    padding-left:45px;
    padding-right: 45px;
    background-color: #ffffff;
    box-shadow: 50px rgba(0, 0, 0, 0.06);
}
.skill-descriptions{
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 60px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-description,.resume-item-institute{
    color:#757575;
}
.resume-item-institute{
    margin-top: 0;
    margin-bottom: 20px;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    margin-top: 50px;
    text-align: center;
}
/* footer style  */
footer{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding:130px 230px;
}
.footer-column{
    width: 50%;
}
.contact input[type="text"],.contact input[type="email"],
textarea{
    display: block;
    margin-bottom: 25px;
    padding:18px 35px;
    color: #757575;
    border-radius: 7px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.social-links a{
    margin-right: 25px;
}